html {
  font-size: 10px;
  background: url(https://images.unsplash.com/photo-1515175192010-cf3250992719?ixlib=rb-0.3.5&s=a044d4ff97acb3e8ea083be6ede31a32&auto=format&fit=crop&w=2378&q=80)
    bottom center;
  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#directions {
  color: white;
  background: black;
  text-align: center;
  text-transform: uppercase;
  margin-top: 25rem;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  padding: 0rem;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #00ffff;
  box-shadow: 0 0 1rem#00FFFF;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #00ffff;
}
