html {
  font-size: 10px;
  background: url(https://images.unsplash.com/photo-1504701954957-2010ec3bcec1?ixlib=rb-0.3.5&s=e395281afc79dcd26159bd27f6413fba&auto=format&fit=crop&w=1567&q=80)
    bottom center;
  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;
}

#directions {
  font-family: "Permanent Marker", cursive;
  color: white;
  background: black;
  opacity: 0.9;
  text-align: center;
  text-transform: uppercase;
  margin: 10rem 15rem 5rem 15rem;
  padding: 5rem;
}

#directions .title {
  font-size: 4rem;
  color: #ff8c00;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  padding: 0rem;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 15rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ff8c00;
  box-shadow: 0 0 1rem#FF8C00;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-family: "Permanent Marker", cursive;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ff8c00;
}
